/* Tag css follows */

body {
	margin: 0;
	color: #444;
	background-color: #F2F2F2;
	font-family: Helvetica, Arial, sans-serif;
}

body header {
	background-color: #80C247;
	background: -webkit-gradient(linear, center top, center bottom, from(#80C247), color-stop(90%, #80C247), color-stop(90%, #ccc), to(#f2f2f2));
	background: -moz-linear-gradient(center top, #80C247, #80C247 90%, #ccc 90%, #f2f2f2);
	color: white;
	font-weight: bold;
	height:50px;
	font-size: 25px;
	line-height: 50px;
	padding-left: 10%;
	padding-right: 20px;
	margin-bottom: 20px;
}

body header a {
	color: inherit;
	text-decoration: inherit;
}

h1 {
	font-size: 36px;
	margin: 0;
	display: block;
	vertical-align: top;
	font-weight: bold;
}

h2 {
	font-size: 20px;
	margin: 0;
	color: #ccc;
	font-weight: bold;
}

h3 {
	display: block;
	width: 200px;
	height: 35px;
	line-height: 30px;
	margin-right: 3px;
	float: left;
	position: relative;
	top:-25px;
	background: #f2f2f2;
	padding-top: 4px;
	cursor: pointer;
}

span #centercolumn {
	display: table-cell;
}

span #leftcolumn {
	display: table-cell;
	width: 50%;
}

span #rightcolumn {
	display: table-cell;
	width: 50%;
}

/* Class css follows */

.imgright {
	float: right;
	margin: 10px;
	width:40%;
}

.circle {
	height: 50px;
	width: 50px;
	border-radius: 25px;
	font-size: 30px;
	line-height: 50px;
	background-color: #80C247;
	text-align: center;
	display: inline-block;
	color: white;
	margin-right: 20px;
	font-weight: bold;
}

.largefont {
	font-size: 30px;
	padding-bottom: 10px;
	vertical-align: top;
	padding: 5px;
	border: 1px solid white;
}

.facebookfont {
	font-family: Tahoma;
	display: inline;
	color: #3B5998;
	font-weight: bold;
}

.facebookfontgreyed {
	font-family: Tahoma;
	display: inline;
	color: #B9C2DA;
	font-weight: bold;
}

.profilepicture {
	width: 70px;
	height: 70px;
	margin: 0px;
	padding: 0px;
}

.profileusername {
	display: inline;
	line-height: 70px;
	height: 70px;
	margin: 0px;
	padding: 0px;
	margin-left: 10px;
	padding: 10px;
	border-left: 2px solid #80C247;
}

.smallprofile {
	width: 40px;
	height: 40px;
	margin: 0;
	padding: 0;
}

.dot {
	display: block;
	width: 10px;
	height: 10px;
	border-radius: 5px;
	margin-right: 20px;
	float: right;
	background-color: #D2EABD;
	margin-top: 30px;
}

.devider {
	width: 100%;
	height: 2px;
	background-color: #80C247;
	background: -webkit-gradient(linear, left center, right center, from(white), color-stop(30%, #80C247), color-stop(70%, #80C247), to(white));
	background: -moz-linear-gradient(left center, white, #80C247 30%, #80C247 70%, white);
	margin-top: 30px;
	margin-bottom: 20px;
}

.arrow-up {
    width: 0;
    height: 0;
    margin-left: 94px;
    position: relative;
    display: block;
    z-index: 5;
    top: -15px;
    
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid #D2EABD;
}

.record {
	font-size: 16px;
	text-align: left;
	margin: 5px;
	padding: 5px;
	min-width: 500px;
	max-width: 500px;
	border: 2px solid #D2EABD;
	border-radius: 5px;
}

.record a:hover {
	text-decoration: underline;
}

.recorddone {
	background: #D2EABD;
}

.recordundone {
	background: none;
}

.record header {
	font-size: 20px;
	color: #ccc;
	margin: 0;
	line-height: 1.5em;
	padding: 0;
	width: 500px;
}

.record header strong {
	color: #444;
}

.record article {
	margin-left: 40px;
}
.record article h1 {
	font-size: 18px;
}

.record article p {
	display: block;
	margin-left: 15px;
}

.regularbutton {
	padding-left: 10px;
	padding-right: 10px;
	height: 50px;
	max-height: 35px;
	color: #444;
	font-weight: bold;
	background-color: #f2f2f2;
	background: -webkit-gradient(linear, center top, center bottom, from(#f2f2f2), color-stop(40%, #f2f2f2), color-stop(60%, #eee), to(#eee));
	background: -moz-linear-gradient(90deg, #f2f2f2, #f2f2f2 40%, #eee 60%, #eee);
	border: 2px solid #ccc;
	border-radius: 10px;
	margin: 0;
	margin-left: 5px;
	margin-right: 5px;
	cursor: pointer;
}

.redbutton {
	color: #844;
}

.greenbutton {
	color: #484;
}

/* ID css follows */

#feed {
	font-size: 24px;
	text-align: center;
	padding: 0;
	margin: 0;
	background: none;
	color: #444;
}

#stats {
	font-size: 24px;
	text-align: center;
	padding: 0;
	margin: 0;
	background: none;
	color: #444;
}

#fblogin {
	display: block;
	width: 180px;
	height: 30px;
	float: right;
	margin-top: 20px;
	line-height: 30px;
	text-align: center;
	background-color: #f2f2f2;
	border: 0px solid #ccc;
	color: #ccc;
	font-size: 14px;
	font-weight: bold;
	cursor: pointer;
	border-radius: 5px;
}

#message {
	width: 150px;
	height: 50px;
	max-height: 35px;
	color: #444;
	font-weight: bold;
	background-color: white;
	border: 2px solid #ccc;
	border-radius: 10px;
	padding-left: 15px;
	margin-right: 8px;
	margin-left: 8px;
}

#to {
	width: 150px;
	height: 50px;
	max-height: 35px;
	color: #444;
	font-weight: bold;
	background-color: white;
	border: 2px solid #ccc;
	border-radius: 10px;
	padding-left: 15px;
	margin-right: 8px;
	margin-left: 8px;
}

#comment {
	width: 270px;
	height: 50px;
	max-height: 35px;
	color: #444;
	font-weight: bold;
	background-color: white;
	border: 2px solid #ccc;
	border-radius: 10px;
	padding-left: 15px;
	margin-right: 8px;
	margin-left: 8px;
}

#submit {
	padding-left: 10px;
	padding-right: 10px;
	height: 50px;
	max-height: 35px;
	color: #444;
	font-weight: bold;
	background-color: #f2f2f2;
	background: -webkit-gradient(linear, center top, center bottom, from(#f2f2f2), color-stop(40%, #f2f2f2), color-stop(60%, #eee), to(#eee));
	background: -moz-linear-gradient(90deg, #f2f2f2, #f2f2f2 40%, #eee 60%, #eee);
	border: 2px solid #ccc;
	border-radius: 10px;
	margin: 0;
	cursor: pointer;
}

#markdone {
	padding-left: 10px;
	padding-right: 10px;
	height: 50px;
	max-height: 35px;
	color: #484;
	font-weight: bold;
	background-color: #f2f2f2;
	background: -webkit-gradient(linear, center top, center bottom, from(#f2f2f2), color-stop(40%, #f2f2f2), color-stop(60%, #eee), to(#eee));
	background: -moz-linear-gradient(90deg, #f2f2f2, #f2f2f2 40%, #eee 60%, #eee);
	border: 2px solid #ccc;
	border-radius: 10px;
	margin: 0;
	margin-left: 5px;
	margin-right: 5px;
	cursor: pointer;
}

#markundone {
	padding-left: 10px;
	padding-right: 10px;
	height: 50px;
	max-height: 35px;
	color: #844;
	font-weight: bold;
	background-color: #f2f2f2;
	background: -webkit-gradient(linear, center top, center bottom, from(#f2f2f2), color-stop(40%, #f2f2f2), color-stop(60%, #eee), to(#eee));
	background: -moz-linear-gradient(90deg, #f2f2f2, #f2f2f2 40%, #eee 60%, #eee);
	border: 2px solid #ccc;
	border-radius: 10px;
	margin: 0;
	margin-left: 5px;
	margin-right: 5px;
	cursor: pointer;
}

#createiou {
	display: block;
	height: 40px;
	padding: 20px;
	font-size: 16px;
	font-weight: bold;
	position: relative;
	top: -35px;
	background: #D2EABD;
}

#createdebt {
	display:none;
	height: 40px;
	padding: 20px;
	font-size: 16px;
	font-weight: bold;
	position: relative;
	top: -35px;
	background: #D2EABD;
}

#editsettings {
	display:none;
	height: 40px;
	padding: 20px;
	font-size: 16px;
	font-weight: bold;
	position: relative;
	top: -35px;
	background: #D2EABD;
}

#headers {
	width: 100%;
	height: 35px;
	margin: 0;
	padding: 0;
	text-align: center;
	margin-top: 20px;
	overflow: hidden;
}

#fblogin:hover {
	background-color: #D2EABD;
	color: #80C247;
}

#fblogin:hover > .facebookfontgreyed {
	color:#3B5998;
}

#bigquote {
	font-size: 46px;
	font-family: "Abadi MT Condensed Extra Bold";
	display: inline;
}

#dashboard {
	margin-left: 10%;
	margin-top: 50px;
	margin-right: 10%;
	background-color: white;
	min-height: 80%;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	padding: 50px;
}

#profile {
	padding: 5px;
	padding-bottom: 0px;
}

#friendlist {
	display: none;
}

#friendsuggestions {
	position: relative;
	border: 0px solid #80C247;
	width: 350px;
	margin-top: 5px;
	left: 360px;
	top: -35px;
}

#friendsuggestions div {
	height: 40px;
	cursor: pointer;
}

#friendsuggestions span {
	font-size: 22px;
	line-height: 40px;
	vertical-align: top;
	margin-left: 20px;
}

#friendsuggestions div:nth-child(odd) {
	background-color: #f2f2f2;
}

#friendsuggestions div:nth-child(even) {
	background-color: #D2EABD;
}

#dashboard header {
	background: none;
	height: auto;
}

#row {
	display: table-row;
}
