body {
	margin: 0;
	color: #aaa;
}

header {
	background: -moz-linear-gradient(center top, #ccc, #fff 10%, #fff 90%, #ccc);
	background: -webkit-gradient(linear, center top, center bottom, from(#ccc), color-stop(10%, #fff), color-stop(90%, #fff), to(#ccc));
	color: #58b;
	height:40px;
	font-size: 20px;
	line-height: 40px;
	padding-left: 20px;
	padding-right: 20px;
	margin-bottom: 20px;
}

header a{
	z-index: 10;
	text-decoration: none;
	color: inherit;
}

section {
	float: left;
	width: 40%;
	padding: 5%;
}

section h1 {
	text-align: center;
}

article {
	color: #aaa;
	line-height: 1.2em;
	width: 250px;
	margin-bottom: 10px;
	margin-top: 10px;
}

article:hover > .done {
	display: inline;
}

article:hover > .edit {
	/*display: inline; remove later to allow users to edit entries */
}

article a {
	color: inherit;
}

small {
	line-height: 1em;
	width: 100%;
	color: #aaa;
}

article small span{
	text-align: right;
	float: right;
}

mark {
	font-weight: bold;
	color: inherit;
	background: inherit;
}

h1 {
	color: black;
}

.green {
	color: green;
	font-weight: bold;
	text-align: center;
}

.userlist {
	margin-top: -15px;
	display: block;
	width: 100%;
	text-align: center;
	color: #f95;
}

.userlist a {
	color: inherit;
}

input {
	height: 2em;
}

.button {
	border: 1px solid gray;
	border-radius: 5px;
	background-color: white;
}

.textinput {
	border: 1px solid #58b;
	border-radius: 5px;
	padding-left: 3px;
	background-color: white;
}

.user {
	height: 20px;
	position: absolute;
	right: 10px;
	top: 10px;
	border: 1px solid #58b;
	border-radius: 5px;
	padding-left: 3px;
	background-color: white;
}

.addform {
	margin-top: 30px;
}

.centerpage {
	width: 100%;
	text-align: center;
	margin-top: 150px;
}

.centerpage input {
	width: 40%;
	font-size: x-large;
}

.done {
	position: relative;
	float: right;
	font-size: 10px;
	color: white;
	background-color: #58b;
	height: 12px;
	line-height: 10px;
	border-radius: 3px;
	padding: 1;
	top: 5;
	display: none;
	cursor: pointer;
	border: none;
	width: 30px;
}

.edit {
	position: relative;
	float: right;
	font-size: 10px;
	color: white;
	background-color: green;
	height: 12px;
	line-height: 10px;
	border-radius: 3px;
	padding: 1;
	top: 5;
	display: none;
	cursor: pointer;
	border: none;
	margin-right: 5px;
	width: 30px;
}

.viewall {
	position: absolute;
	font-size: 13px;
	color: #aaa;
	z-index: 1;
	display: block;
	height: 40px;
	width: 10%;
	top: 0;
	left: 45%;
	text-align: center;
	line-height: 40px;
}

.viewall a {
	color: inherit;
}

.feed {
	margin-left: 20px;
	margin-bottom: 5px;
}

.feed .comment {
	margin-bottom: 15px;
}

.author {
	display: block;
	font-style: italic;
	color: #58b;
}

comment {
	display: block;
	margin-left: 10px;
}